{% extends 'base.html.twig' %}

{% block title %}Access Denied!{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Access Denied</h1>
    <p>You do not have permission to access this page. coucou</p>
{% endblock %}  