<header class="navbar">
    <div class="navbar-brand">Cassandre System</div>

    <nav class="navbar-menu">
        <a href="{{ path('app_accueil') }}" class="navbar-link">Accueil</a>
        <a href="{{ path('app_client_index') }}" class="navbar-link">Client</a>
    </nav>
</header>
