<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cassandre System{% endblock %}</title>

    <link rel="icon" href="{{ asset('favicon.svg') }}">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}
</head>
<body>
    {% include 'partials/_header.html.twig' %}

    <main>
        {% block body %}{% endblock %}
    </main>

    {% include 'partials/_footer.html.twig' %}

    {% block javascripts %}{% endblock %}
</body>
</html>
